.l-section,
.l-section--center,
.l-section--flex,
.l-header {
  margin-right: auto;
  margin-left: auto;
  width: 88.75%;
  max-width: 1000px;
  @media (max-width: 699px) {
    margin-bottom: 60px;
  }
  @media (min-width: 700px) {
    margin-bottom: 100px;
  }
}
.l-section--flex {
  display: flex;
  @media (max-width: 999px) {
    flex-direction: column;
  }
}
.l-section--form {
  padding: 68px 5%;
  width: 90%;
  background-color: var(--l-gray);
  text-align: center;
}

.l-section--center {
  text-align: center;
}
