:root {
  /* COLORS */
  --black: #000000;
  --navy: #192529;
  --gray: #4a4a4a;
    --l-gray: #9b9b9b;
    --d-gray: #979797;
  --red: #e93f5c;
  --teal: #00bdbb;
    --50-teal: rgba(0,189,187,.1);
    --d-teal: #006867;
  --white: #ffffff;
  --yellow: #f3e33a;

  /* FONTS */
  --roboto: 'Roboto', sans-serif;
  --roboto-slab: 'Roboto Slab', serif;

  /* FONT WEIGHTS */
  --light: 300;
  --regular: 400;
  --bold: 700;
}
