:root {
  /* COLORS */
  --black: #000000;
  --gray: #4a4a4a;
    --l-gray: #f6f6f6;
    --d-gray: #98aca8;
  --red: #e93f5c;
  --teal: #39a796;
    --l-teal: #60cebd;
    --m-teal: #095949;
    --d-teal: #042c24;
      --10-d-teal: rgba(4,44,36,.1);
  --white: #ffffff;
    --25-white: rgba(255,255,255,.25);
    --50-white: rgba(255,255,255,.5);
  --yellow: #f9e4be;

  /* FONTS */
  --roboto: 'Roboto', sans-serif;
  --roboto-slab: 'Roboto Slab', serif;

  /* FONT WEIGHTS */
  --light: 300;
  --regular: 400;
  --bold: 700;
}
