.t-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.t-link {
  color: var(--red);
  text-decoration: none;
  &:focus,
  &:hover {
    box-shadow: 0 2px 0 0 var(--red);
  }
}

.t-body {
  font-weight: var(--light);
  color: var(--gray);
  line-height: 1.3;
  strong {
    font-weight: var(--regular);
    color: var(--d-teal);
  }
  @media (max-width: 699px) {
    font-size: 1.125em;
    + .t-body {
      margin-top: 24px;
    }
  }
  @media (min-width: 700px) {
    font-size: 1.375em;
    + .t-body {
      margin-top: 36px;
    }
  }
}

.t-display,
.t-heading {
  color: var(--gray);
  font-family: var(--roboto-slab);
  @media (max-width: 699px) {
    font-size: 1.25em;
  }
  @media (min-width: 700px) {
    font-size: 2.25em;
  }
}

.t-display {
  font-weight: var(--bold);
  + .t-heading {
    margin-top: 8px;
  }
}

.t-heading {
  margin-bottom: 20px;
  font-weight: var(--regular);
}
