<img class="index__image-divider" src="/images/cat-entrance.jpg" alt="Catamaran entrance">
<section class="l-section">
  <img class="index__image-left" src="/images/map.png" alt="Resort map">
  <div class="index__text-right">
    <h2 class="t-display">A Unique Ember Experience</h2>
    <h3 class="t-heading">in Southern California</h3>
    <p class="t-body">Join Ember developers from around the globe in a social, collaborative, and engaging event on the beautiful beaches of San Diego, California.</p>
    <p class="t-body">SoEmber Conf is focused on advancing the technology and community around Ember. The main event stars <strong>6 showcase speaker</strong> and <strong>1 spectacular keynote</strong>. Connect during the delightful <strong>pre-conference festivities</strong> or relax together during the <strong>after-conference event</strong>.</p>
  </div>
</section>
<section class="l-section">
  <h2>Sign up to get early bird access!</h2>
  <input class='mailing-list-input' placeholder='zoe@emberiña.com' name='email'>
  <div class='registration' data-anchor='registration'>
    Registration
  </div>
</section>
