<img src='images/map.png' height=390 width=398>
<h2>A Unique Ember Experience</h2>
<h3>in Southern California</h3>
<p>Join Ember developers from around the globe in a social, collaborative, and engaging event on the beautiful beaches of San Diego, California.</p>
<p>SoEmber Conf is focused on advancing the technology and community around Ember. The main event stars <a href='#speakers'>6 showcase speakers</a> and <a href='#keynote'>1 spectacular keynote</a>. Connect during the delightful <a href='#pre-event'>pre-conference festivities</a> or relax together during the <a href='#after-event'>after-conference event</a>.</p>

<h2>Sign up to get early bird access!</h2>
<input class='mailing-list-input' placeholder='zoe@emberiña.com' name='email'>

<div class='registration' data-anchor='registration'>
  Registration
</div>
