<header class="header">
  {{link-to "Code of conduct" "code-of-conduct" class="header__code-of-conduct t-link"}}
  <nav class="header__nav">
    <div class="nav__links">
      {{#link-to "index" class="nav__logo"}}
        <svg><use xlink:href="/images/defs.svg#dy-logo"></use></svg>
        <span class="t-hidden">home</span>
      {{/link-to}}
    </div>
  </nav>
  <div class="header__headings">
    <h2>
      <time datetime="2017-01-27">Friday, January 27, 2017</time>
    </h2>
    <h1>
      <a class="header__headings__link" href="https://www.catamaranresort.com/">Catamaran Resort Hotel &amp; Spa San Diego, CA</a>
    </h1>
  </div>
</header>
<main>
  {{outlet}}
</main>
<footer>
</footer>
