.button--blue,
.button--red {
  padding: 0 20px;
  min-width: 242px;
  line-height: 60px;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: var(--bold);
  letter-spacing: .0625rem;
  cursor: pointer;
}

.button--red {
  border: 3px solid var(--red);
  background-color: var(--white);
  color: var(--red);
  &:focus,
  &:hover {
    background-color: var(--red);
    color: var(--white);
  }
}
