.form__heading {
  margin-bottom: 48px;
  font-weight: var(--bold);
}

.form {
  width: 100%;
  max-width: 600px;
  display: inline-flex;
  @media (max-width: 699px) {
    flex-direction: column;
  }
  @media (min-width: 700px) {
    flex-flow: row wrap;
  }
}

.form__input,
.form__submit {
  height: 60px;
  font-size: 1.125em;
  font-weight: var(--light);
  border-style: solid;
  outline: none;
  letter-spacing: 2px;
  appearance: none;
}
.form__input {
  padding-right: 15px;
  padding-left: 30px;
  box-sizing: border-box;
  border-color: var(--lm-gray);
  background-color: var(--white);
  &:focus {
    border-color: var(--teal);
  }
  @media (max-width: 699px) {
    border-width: 2px 2px 0 2px;
  }
  @media (min-width: 700px) {
    width: calc(100% - 177px);
    border-width: 2px 0 2px 2px;
  }
}
.form__submit {
  padding-right: 46px;
  padding-left: 46px;
  font-weight: var(--regular);
  color: var(--white);
  background-color: var(--teal);
  border-color: var(--teal);
  cursor: pointer;
  text-transform: uppercase;
  &:focus,
  &:hover {
    background-color: var(--l-teal);
    border-color: var(--l-teal);
  }
  @media (max-width: 699px) {
    border-width: 0 2px 2px 2;
  }
  @media (min-width: 700px) {
    border-width: 2px 2px 2px 0;
  }
}

/* Validations */
.form .is-valid,
.form .is-invalid {
  margin-top: 20px;
  flex-grow: 1;
  font-weight: var(--bold);
  letter-spacing: 1px;
}
.form .is-valid {
  color: var(--teal);
}
.form .is-invalid {
  color: var(--red);
}
