.header {
  @media (max-width: 699px) {
    margin-bottom: 40px;
  }
  @media (min-width: 700px) {
    margin-bottom: 80px;
  }
}

.header__headings {
  margin-right: auto;
  margin-left: auto;
  color: var(--gray);
  text-align: center;
  @media (max-width: 699px) {
    margin-top: 38px;
    width: 88.75%;
    font-size: 1.25em;
  }
  @media (min-width: 700px) {
    margin-top: 138px;
    font-size: 1.5em;
  }
}

.header__headings h1 {
  margin-bottom: 36px;
  font-family: var(--roboto-slab);
  font-weight: var(--bold);
  letter-spacing: 4px;
  span {
    display: block;
    font-size: .5em;
    text-transform: uppercase;
  }
  @media (max-width: 699px) {
    font-size: 3em;
  }
  @media (min-width: 700px) {
    font-size: 4em;
  }
}

.header__headings h2 {
  margin-bottom: 10px;
  font-weight: var(--light);
  @media (min-width: 700px) {
    font-size: 1.25em;
  }
}
