.header__logo {
  background-color: var(--white);
  @media (max-width: 699px) {
    width: 220px;
  }
  @media (min-width: 700px) {
    width: 412px;
  }
}

.header__headings {
  margin-right: auto;
  margin-left: auto;
  color: var(--gray);
  text-align: center;
  @media (max-width: 699px) {
    width: 88.75%;
    font-size: 1.25rem;
  }
  @media (min-width: 700px) {
    font-size: 1.5rem;
  }
}

.header__heading {
  font-family: var(--roboto-slab);
  font-weight: var(--bold);
  color: var(--gray);
  letter-spacing: 4px;
  text-transform: uppercase;
  @media (max-width: 699px) {
    font-size: 3rem;
  }
  @media (min-width: 700px) {
    font-size: 4rem;
  }
}

.header__headings h1 {
  margin-bottom: 36px;
  font-family: var(--roboto-slab);
  font-weight: var(--bold);
  letter-spacing: 4px;
  span {
    display: block;
    font-size: .5em;
    text-transform: uppercase;
  }
  @media (max-width: 699px) {
    font-size: 3rem;
  }
  @media (min-width: 700px) {
    font-size: 4rem;
  }
}

.header__headings h2 {
  margin-bottom: 10px;
  font-weight: var(--light);
  @media (min-width: 700px) {
    font-size: 1.25rem;
  }
}
