.nav {
  position: relative;
  border-bottom: 1px solid var(--m-teal);
  @media (max-width: 699px) {
    margin-bottom: 40px;
  }
  @media (min-width: 700px) {
    margin-bottom: 80px;
  }
}

.nav__links {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.nav__link {
  box-sizing: border-box;
  line-height: 72px;
  color: var(--navy);
  letter-spacing: .1em;
  text-decoration: none;
  @media (max-width: 699px) {
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 700px) {
    margin-right: 50px;
    margin-left: 50px;
  }
  &:focus,
  &:hover {
    box-shadow: inset 0 -24px 0 0 var(--white), inset 0 -26px 0 0 var(--navy);
  }
}
