.nav {
  position: relative;
  background-color: var(--teal);
  color: var(--white);
  @media (min-width: 800px) {
    display: flex;
  }
}

.has-mobile-nav-showing {
  @media (max-width: 799px) {
    overflow: hidden;
    position: relative; /* Needed for Firefox to not scroll when mobile nav is expanded */
    height: 100vh;
  }
}

.nav--mobile {
  @media (max-width: 799px) {
    overflow: auto;
    border-bottom: 1px solid var(--white);
  }
  @media (min-width: 800px) {
    display: inline-flex;
    align-items: center;
  }
}

.logo {
  margin-right: auto;
  padding-left: 16px;
  color: var(--white);
  font-family: var(--roboto-slab);
  text-decoration: none;
  @media (max-width: 799px) {
    line-height: 48px;
    font-size: 1.25em;
  }
  @media (min-width: 800px) {
    font-size: 1.5em;
  }
  &:hover,
  &:focus {
    fill: var(--yellow);
  }
}

.nav__icon {
  @media (max-width: 799px) {
    padding: 16px;
    float: right;
    cursor: pointer;
    &:focus,
    &:hover {
      .nav__icon__top,
      .nav__icon__middle,
      .nav__icon__bottom {
        background-color: var(--yellow);
      }
    }
  }
  @media (min-width: 800px) {
    display: none;
  }
}

.nav__icon__top,
.nav__icon__middle,
.nav__icon__bottom {
  display: block;
  height: 2px;
  width: 18px;
  background-color: var(--white);
  transition-property: all;
  transition-duration: .25s;
  transform: rotate(0deg);
  will-change: transform;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
.nav__icon__top {
  .has-mobile-nav-showing & {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
}
.nav__icon__middle {
  .has-mobile-nav-showing & {
    width: 0;
  }
}
.nav__icon__bottom {
  .has-mobile-nav-showing & {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

.nav__icon__middle {
  margin-right: auto;
  margin-left: auto;
}

.nav__links {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 799px) {
    flex-direction: column;
    position: absolute;
    width: 100%;
    background: var(--teal);
    background: linear-gradient(to bottom, var(--teal), var(--yellow));
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    transition-duration: .25s;
    transition-property: opacity;
    .has-mobile-nav-showing & {
      opacity: 1;
      pointer-events: auto;
    }
  }
  @media (min-width: 800px) {
    width: 83.33%;
  }
}

.nav__link {
  box-sizing: border-box;
  color: var(--white);
  font-weight: var(--bold);
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none;
  @media (max-width: 799px) {
    height: calc(25vh - 9.6px);
    width: 100%;
    display: inherit;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border-bottom: 2px solid var(--25-white);
    transition-duration: .35s;
    transition-property: background-color;
    &:focus,
    &:hover {
      background-color: var(--50-white);
    }
  }
  @media (min-width: 800px) {
    margin-left: 40px;
    line-height: 72px;
    transition-duration: .25s;
    transition-property: color;
    &:focus,
    &:hover {
      box-shadow: inset 0 -24px 0 0 var(--teal), inset 0 -26px 0 0 var(--50-white);
    }
  }
}
