<header class="header">
  <nav class="header__nav">
    <div class="nav__links">
      {{link-to "Speakers" "speakers" class="nav__link"}}
      {{#link-to "index" class="nav__logo"}}
        <img src="/assets/images/so-ember-logo.png" alt="So Ember logo">
        <span class="t-hidden">home</span>
      {{/link-to}}
    </div>
  </nav>
  <div class="header__headings">
    <h1>So Ember<span>Conference</span></h1>
    <h2>
      <time datetime="2017-01-27">Friday, January 27, 2017</time>
    </h2>
    <h2>San Diego, CA</h2>
  </div>
</header>
<main>
  {{outlet}}
</main>
<footer class="footer">
  <p>
    Made with love by
    <a class="footer__link t-link" href="http://dockyard.com" target="_blank">DockYard</a>
  </p>
  <p>
    Follow us on Twitter
    <a class="t-link" href="https://twitter.com/soemberconf" target="_blank">@soemberconf</a> or read the {{link-to "Code of conduct" "code-of-conduct" class="t-link"}}
  </p>
</footer>
