<section class="l-section">
  <h1 class="t-display">Code of Conduct</h1>
  <h2 class="t-heading">Anti-Harassment</h2>
  <p class="t-body">SoEmber 2017 is dedicated to providing a harassment-free conference experience for everyone, regardless of age, body size, disability, gender identity, physical appearance, race, religion, or sexual orientation. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not deemed appropriate for any conference venue, including talks. Conference participants violating any of these rules may be sanctioned or expelled from the conference at the discretion of the conference organizers.</p>
  <p class="t-body">Harassment includes, but is not limited to: offensive verbal comments related to age, body size, disability, gender identity, physical appearance, race, religion, or sexual orientation; any unwelcome attention; deliberate intimidation; following; harassing photography or recording; inappropriate physical contact; sexual images in public spaces; stalking; sustained disruption of talks or other events. Participants asked to stop any harassing behavior are expected to comply immediately.</p>
  <p class="t-body">If a participant engages in harassing behavior, conference organizers may take any action they deem appropriate, including warning the offender or expelling him or her from the conference. If you are being harassed, notice that someone else is being harassed, or have any other concerns regarding violations of this policy, please contact a member of conference staff immediately.</p>
  <p class="t-body">The conference staff is happy to help participants contact venue staff or local law enforcement, provide escorts, or in any other way assist those experiencing harassment. Having a safe environment for our conference participants is of paramount importance to us, and we value your help towards creating this space.</p>

  <h2 class="t-heading">Accessibility</h2>
  <p class="t-body">DockYard and all associated members of the SoEmber 2017 planning team are dedicated to providing an environment for our community that is accessible, welcoming, and inclusive. As such, we have conducted a thorough visit to the conference venue prior to booking to ensure that access to the location is fully unrestricted for all of our attendees.</p>
  <p class="t-body">If you have any questions about whether or not So Ember would be the right conference for you, we encourage you to email us at heather@dockyard.com. While we can’t promise the ability to accommodate each individual situation, we absolutely commit to listening to every concern and request.</p>

  <h2 class="t-heading">Refund</h2>
  <p class="t-body">You will be able to get a refund for the full value of your ticket until <time datetime="2016-12-27T23:59">December 27th, 2016 at 11:59pm EST</time>. After that date, no ticket refunds will be available.</p>
  <p class="t-body">If you would like to request a refund, please contact us at <a class="t-link" href="mailto:heather@dockyard.com">heather@dockyard.com</a>.</p>
</section>
