<div class='pure-g'>
  <div class='pure-u-1'>
    <div class='code-of-conduct hang-right'>
      Code of Conduct
    </div>
  </div>
  <div class='pure-u-1 hang-center'>
    <div class='navigation-container'>
      <div class='navigation desktop-navigation'>
        {{link-to 'Attend' 'index' (query-params anchor='registration') tagName='div' class='nav-item'}}
        <div class='nav-item'>Speakers</div>
        <div class='nav-item brand'>
          <div class='brand-image'></div>
        </div>
        <div class='nav-item'>Schedule</div>
        <div class='nav-item'>Sponsors</div>
      </div>
    </div>
  </div>
</div>
<div class='pure-u-1 hang-center'>
  Friday, January 27, 2017
</div>
<div class='pure-u-1 hang-center'>
  <a href='https://www.catamaranresort.com/'>
    Catamaran Resort Hotel &amp; Spa
  </a>
</div>
<div class='pure-u-1 hang-center'>
  San Diego, CA
</div>

<div class='pure-u-1 venue-entrance'> </div>

<div class='pure-u-1 venue-info'>
  <div class='pure-u-5-12'>
    <img src='img/map.png' height=390 width=398>
  </div>
  <div class='pure-u-1-2'>
    <h2>A Unique Ember Experience</h2>
    <h3>in Southern California</h3>
    <p>
      Join Ember developers from around the globe in a social, collaborative, and engaging event on the beautiful beaches of San Diego, California.
    </p>
    <p>
      SoEmber Conf is focused on advancing the technology and community around Ember. The main event stars <a href='#speakers'>6 showcase speakers</a> and <a href='#keynote'>1 spectacular keynote</a>. Connect during the delightful <a href='#pre-event'>pre-conference festivities</a> or relax together during the <a href='#after-event'>after-conference event</a>.
    </p>
  </div>
</div>

<div class='pure-u-1 mailing-list'>
  <div class='pure-u-5-12'>
    <h2>Sign up to get early bird access!</h2>
  </div>
  <div class='pure-u-1-2'>
    <input class='mailing-list-input' placeholder='zoe@emberiña.com' name='email'>
  </div>
</div>

<div class='registration' data-anchor='registration'>
  Registration
</div>
