<img class="index__image-divider" src="/assets/images/cat-entrance.jpg" alt="Catamaran entrance">
<section class="l-section--flex">
  <img class="index__image-left" src="/assets/images/map.jpg" alt="Resort map">
  <div class="index__text-right">
    <h2 class="t-display">A Unique Ember Experience</h2>
    <h3 class="t-heading">in Southern California</h3>
    <p class="t-body">Join Ember developers from around the globe in a social, collaborative, and engaging event at the <a class="t-link" href="https://goo.gl/maps/ek17unn3Gyk" target="_blank">Catamaran Resort Hotel and Spa</a> on the beautiful beaches of San Diego, California.</p>
    <p class="t-body">So Ember Conf is focused on advancing the technology and community around Ember. The main event stars <strong>7 showcase speakers</strong> and <strong>1 spectacular keynote</strong>. Connect during the delightful <strong>pre-conference festivities</strong> or relax together during the <strong>after-conference event</strong>.</p>
  </div>
</section>
<section class="l-section--form">
  <h2 class="t-heading form__heading">Sign up to get early bird access!</h2>
  {{interested-users}}
</section>
