<header class="l-header" role="banner">
  <img class="header__logo" src="/assets/images/so-ember-logo.png" alt="So Ember logo">
  <h1 class="t-display">So Ember Conference</h1>
  <h2 class="t-sub-display">
    <span class="has-double-dash">San Diego, CA</span><time datetime="2017-01-27">Friday, January 27, 2017</time>
  </h2>
</header>

<section class="l-section--center">
  <p class="t-section-desc">Join Ember developers from around the globe in a social, collaborative, and engaging event at the Catamaran Resort Hotel and Spa on the beautiful beaches of San Diego, California.</p>
  {{ex-link-to label="Sign me up!" href="//ti.to/wicked-good/soember-2017" class="button--red"}}
</section>

<img class="index__image-divider" src="/assets/images/cat-entrance.jpg" alt="Catamaran entrance">
<section class="l-section--flex">
  <img class="index__image-left" src="/assets/images/map.jpg" alt="Resort map">
  <div class="index__text-right">
    <h2 class="t-display">A Unique Ember Experience</h2>
    <h3 class="t-heading">in Southern California</h3>
    <p class="t-body">Join Ember developers from around the globe in a social, collaborative, and engaging event at the <a class="t-link" href="https://goo.gl/maps/ek17unn3Gyk" target="_blank">Catamaran Resort Hotel and Spa</a> on the beautiful beaches of San Diego, California.</p>
    <p class="t-body">So Ember Conf is focused on advancing the technology and community around Ember. The main event stars <strong>7 showcase speakers</strong> and <strong>1 spectacular keynote</strong>. Connect during the delightful <strong>pre-conference festivities</strong> or relax together during the <strong>after-conference event</strong>.</p>
  </div>
</section>

<section class="l-section">
  <h2 class="t-display">Lodging</h2>
  <h3 class="t-heading has-underline">Catamaran Resort Hotel and Spa</h3>
  <p class="t-body">Lodging will be provided at a discounted rate by the conference venue, Catamaran Resort &amp; Spa, with a 15% discount for attendees based on room availability. Rates fluctuate with occupancy and will tend to increase as your event date approaches. Holidays and peak times of the year may require a multiple night minimum stay.</p>
  <p class="t-body">To make room reservations, please call the Reservations Center at <strong>1-800-422-8386</strong> and mention "DockYard - Annual Conference".</p>
  <p class="t-body">Parking at the Catamaran Resort &amp; Spa will be $10 a day for valet or $23 overnight for guests, $28 for overnight guests valetted.</p>
  <h3 class="t-heading">Other accomodations are available nearby</h3>
  <ul>
    <li class="index__list-item">
      <a class="t-link" href="https://goo.gl/maps/xHCAw6k6DFk" target="_blank">Blue Sea Beach Hotel</a>
    </li>
    <li class="index__list-item">
      <a class="t-link" href="https://goo.gl/maps/75MVerz9Edv" target="_blank">Crystal Pier Hotel &amp; Cottages</a>
    </li>
    <li class="index__list-item">
      <a class="t-link" href="https://goo.gl/maps/ADGcZQ742V22" target="_blank">Tower 23</a>
    </li>
  </ul>
  <p class="t-body"></p>
  <p class="t-body"></p>
</section>

<section class="l-section" id="attend">
  <h2 class="t-heading has-underline">Attend</h2>
  {{tito-widget releases="hb0thwxn6rs,1xzkyy4zwyi"}}
</section>

{{!--
<section class="l-section">
  <h2 class="t-heading--bold">Sponsorship</h2>
  <tito-widget event="wicked-good/soember-2017" releases="hb0thwxn6rs"></tito-widget>
</section>
 --}}
