<header class="l-header">
  <h1 class="t-display">Schedule</h1>
</header>
<section class="l-section-_-thin">
  <h2 class="schedule__day">
    <span>Thursday</span>
    <time>January 26, 2017</time>
  </h2>
  <div class="l-schedule__rows">
    <div class="schedule__row">
      <time class="schedule__time">8:00 pm</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Fire Pit &amp; S’more Fiesta</h4>
        <p class="schedule__row__text">Gather round the fire on the beach just outside of the lovely hotel for a roasty toasty evening of sugar and socializing.</p>
        {{tito-widget releases="q5uhwoycn6s"}}
      </div>
    </div>
  </div>

  <h2 class="schedule__day">
    <span>Friday</span>
    <time>January 28, 2017</time>
  </h2>
  <div class="l-schedule__rows">
    <div class="schedule__row">
      <time class="schedule__time">8:00 pm</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Fire Pit &amp; S’more Fiesta</h4>
        <p class="schedule__row__text">Gather round the fire on the beach just outside of the lovely hotel for a roasty toasty evening of sugar and socializing.</p>
        {{link-to "Lucke Melia" "speakers" class="t-link t-link--big"}}
      </div>
    </div>
    <div class="schedule__row">
      <time class="schedule__time">8:00 pm</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Fire Pit &amp; S’more Fiesta</h4>
        <p class="schedule__row__text">Gather round the fire on the beach just outside of the lovely hotel for a roasty toasty evening of sugar and socializing.</p>
        {{link-to "Lucke Melia" "speakers" class="t-link t-link--big"}}
      </div>
    </div>
  </div>

  <h2 class="schedule__day">
    <span>Saturday</span>
    <time>January 29, 2017</time>
  </h2>
  <div class="l-schedule__rows">
    <div class="schedule__row">
      <time class="schedule__time">8:00 pm</time>
      <div class="schedule__row__right">
        <h4 class="schedule__row__title">Surf's Up!</h4>
        <p class="schedule__row__text">Gear up in a wet suit and jump into the wild blue Pacific with a bunch of Emberiños.</p>
        {{tito-widget releases="60b7lxkuci4"}}
      </div>
    </div>
  </div>
</section>
