<header class="l-header">
  <h1 class="header__heading">Schedule</h1>
</header>
<section class="l-section">
  <div class="l-schedule__day">
    <h3 class="t-heading--bold">Thursday, January 26<span> &mdash; Day Prior</span></h3>
    <h4 class="t-heading">Fire Pit &amp; S’more Fiesta</h4>
    <p class="t-body">Gather round the fire on the beach just outside of the lovely hotel for a roasty toasty evening of sugar and socializing.</p>
    <tito-widget event="wicked-good/soember-2017" releases="q5uhwoycn6s"></tito-widget>
  </div>

  <div class="l-schedule__day">
    <h3 class="t-heading--bold">Friday, January 27<span> &mdash; Main Event</span></h3>
    <h4 class="t-heading">More to come&hellip;</h4>
  </div>

  <div class="l-schedule__day">
    <h3 class="t-heading--bold">Saturday, January 28<span> &mdash; Day After</span></h3>
    <h4 class="t-heading">Surf's Up!</h4>
    <p class="t-body">Gather round the fire on the beach just outside of the lovely hotel for a roasty toasty evening of sugar and socializing.</p>
    <tito-widget event="wicked-good/soember-2017" releases="60b7lxkuci4"></tito-widget>
  </div>
</section>
