<header class="l-header">
  <h1 class="header__heading">Speakers</h1>
</header>

<section class="l-section">
  <h2 class="t-display">Call For Proposals</h2>
  <h3 class="t-heading has-underline">through Friday November 11, 2016</h3>
  <p class="t-body">You may submit as many proposals as you'd like.</p>
  <p class="t-body">All speakers will get a private room and all meals covered for Thursday January 26 - Saturday January 28.</p>
  <a class="typeform-share t-link" href="https://heather215.typeform.com/to/xrWKnX" data-mode="1">Submit a Proposal</a>
</section>

<section class="l-section">
  <h2 class="t-heading has-underline">Keynote</h2>
  <figure class="speaker">
    <img class="speaker__img" src="/assets/images/speakers/luke-melia.jpg" alt="speaker name">
    <figcaption class="speaker__description">
      <h3 class="speaker__name">Luke Melia</h3>
      <p class="t-text">Luke Melia is CTO and co-founder of Yapp and was previously CTO at Weplay and Director of Software Development at Oxygen Media.</p>
      <p class="t-text">Luke is the organizer of the internet-famous Ember.js NYC meetup. He has been working with Ember since the Sproutcore days and has contributed in various ways to Ember including quite a few commits to core projects and helping to lead ember-cli-deploy.</p>
      <p class="t-text">He enjoys beach volleyball, parkour, rock climbing and teaching his two daughters how to program JavaScript &amp; Ruby.</p>
    </figcaption>
  </figure>
</section>
{{!--
<section class="l-section">
  <h2 class="t-heading--bold">Speakers</h2>
  <figure class="speaker">
    <img class="speaker__img" src="/assets/images/speakers/mew.jpg" alt="speaker name">
    <figcaption class="t-body speaker__description">
      <h3 class="speaker__name">Mew</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel pretium felis. Donec facilisis iaculis ex vitae eleifend. Nulla quis scelerisque ligula, ut dignissim felis. Phasellus eget tellus tortor. Proin laoreet dictum urna non interdum. Etiam in est eu nisl maximus ultricies non a orci.
    </figcaption>
  </figure>
  <figure class="speaker">
    <img class="speaker__img" src="/assets/images/speakers/mew.jpg" alt="speaker name">
    <figcaption class="t-body speaker__description">
      <h3 class="speaker__name">Mew</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel pretium felis. Donec facilisis iaculis ex vitae eleifend. Nulla quis scelerisque ligula, ut dignissim felis. Phasellus eget tellus tortor. Proin laoreet dictum urna non interdum. Etiam in est eu nisl maximus ultricies non a orci.
    </figcaption>
  </figure>
  <figure class="speaker">
    <img class="speaker__img" src="/assets/images/speakers/mew.jpg" alt="speaker name">
    <figcaption class="t-body speaker__description">
      <h3 class="speaker__name">Mew</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel pretium felis. Donec facilisis iaculis ex vitae eleifend. Nulla quis scelerisque ligula, ut dignissim felis. Phasellus eget tellus tortor. Proin laoreet dictum urna non interdum. Etiam in est eu nisl maximus ultricies non a orci.
    </figcaption>
  </figure>
  <figure class="speaker">
    <img class="speaker__img" src="/assets/images/speakers/mew.jpg" alt="speaker name">
    <figcaption class="t-body speaker__description">
      <h3 class="speaker__name">Mew</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel pretium felis. Donec facilisis iaculis ex vitae eleifend. Nulla quis scelerisque ligula, ut dignissim felis. Phasellus eget tellus tortor. Proin laoreet dictum urna non interdum. Etiam in est eu nisl maximus ultricies non a orci.
    </figcaption>
  </figure>
</section>
 --}}
