<header class="l-header">
  <h1 class="header__heading">Speakers</h1>
</header>

<section class="l-section">
  <h2 class="t-display">Call For Proposals</h2>
  <h3 class="t-heading has-underline">through Friday November 11, 2016</h3>
  <p class="t-body">You may submit as many proposals as you'd like.</p>
  <p class="t-body">All speakers will get a private room and all meals covered for Thursday January 26 - Saturday January 28.</p>
  <p class="t-body">If you are selected as a speaker you will be provided with all the details needed to have a successful talk, including room configuration and AV details.</p>
  <p class="typeform-share t-link" data-mode="1">Submissions are Closed</p>
</section>

<section class="l-section">
  <h2 class="t-heading has-underline">Keynote</h2>
  <figure class="speaker">
    <img class="speaker__img" src="/assets/images/speakers/luke-melia.jpg" alt="speaker name">
    <figcaption class="speaker__description">
      <h3 class="speaker__name">Luke Melia</h3>
      <a href="https://twitter.com/lukemelia" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-twitter"></use></svg>
      </a>
      <a href="https://github.com/lukemelia" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-github"></use></svg>
      </a>
      <p class="t-text">Luke Melia is CTO and co-founder of Yapp and was previously CTO at Weplay and Director of Software Development at Oxygen Media.</p>
      <p class="t-text">Luke is the organizer of the internet-famous Ember.js NYC meetup. He has been working with Ember since the Sproutcore days and has contributed in various ways to Ember including quite a few commits to core projects and helping to lead ember-cli-deploy.</p>
      <p class="t-text">He enjoys beach volleyball, parkour, rock climbing and teaching his two daughters how to program JavaScript &amp; Ruby.</p>
    </figcaption>
  </figure>
</section>
<section class="l-section">
  <h2 class="t-heading has-underline">Speakers</h2>
  <figure class="speaker">
    <img class="speaker__img" src="/assets/images/speakers/melanie-sumner.jpg" alt="speaker name">
    <figcaption class="speaker__description">
      <h3 class="speaker__name">Melanie Sumner</h3>
      <a href="https://twitter.com/melaniersumner" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-twitter"></use></svg>
      </a>
      <a href="https://github.com/MelSumner" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-github"></use></svg>
      </a>
      <p class="t-body">Melanie is a decorated military veteran, accessibility advocate, eternally optomistic, and unapologetically awesome.</p>
      <h4 class="speaker__title">Building Accessible Applications: A Reasonable Approach</h4>
    </figcaption>
  </figure>
  <figure class="speaker">
    <img class="speaker__img" src="/assets/images/speakers/trent-willis.jpg" alt="speaker name">
    <figcaption class="t-body speaker__description">
      <h3 class="speaker__name">Trent Willis</h3>
      <a href="https://twitter.com/trentmwillis" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-twitter"></use></svg>
      </a>
      <a href="https://github.com/trentmwillis" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-github"></use></svg>
      </a>
      <p class="t-body">Trent is a software engineer at LinkedIn, maintainer of QUnit, frequent contributor to Ember's testing ecosystem, and listener of loud music.</p>
      <h4 class="speaker__title">Lazy Loading Engines: Anything But "Lazy"</h4>
    </figcaption>
  </figure>
  <figure class="speaker">
    <img class="speaker__img" src="/assets/images/speakers/daniel-chappell.jpg" alt="speaker name">
    <figcaption class="t-body speaker__description">
      <h3 class="speaker__name">Daniel Chappell</h3>
      <a href="https://twitter.com/josephdchappell" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-twitter"></use></svg>
      </a>
      <a href="https://github.com/danielchappell" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-github"></use></svg>
      </a>
      <p class="t-body">Daniel Chappell is a human that loves types, functions, and scuba diving.</p>
      <h4 class="speaker__title">Failing Fast: Haskell Inspired Error Handling in Ember</h4>
    </figcaption>
  </figure>
  <figure class="speaker">
    <img class="speaker__img" src="/assets/images/speakers/mike-north.jpg" alt="speaker name">
    <figcaption class="t-body speaker__description">
      <h3 class="speaker__name">Mike North</h3>
      <a href="https://twitter.com/michaellnorth" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-twitter"></use></svg>
      </a>
      <a href="https://github.com/mike-north" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-github"></use></svg>
      </a>
      <p class="t-body">Mike is Levanto Financial's code monkey, makes video courses that thousands of ember developers subject themselves to, and used to do important stuff at a company that Verizon is currently dismantling</p>
      <h4 class="speaker__title">A journey through Ember.js glue</h4>
    </figcaption>
  </figure>
  <figure class="speaker">
    <img class="speaker__img" src="/assets/images/speakers/jonathan-jackson.jpg" alt="speaker name">
    <figcaption class="t-body speaker__description">
      <h3 class="speaker__name">Jonathan Jackson</h3>
      <a href="https://twitter.com/rondale_sc" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-twitter"></use></svg>
      </a>
      <a href="https://github.com/rondale-sc" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-github"></use></svg>
      </a>
      <p class="t-body">Jonathan is a seasoned Ruby and Rails aficionado turned Ember expert who now hosts the Ember Weekend podcast. When not Embering, scouring the interwebs for new programming patters, or writing his next blog post, you can find him at the beach</p>
      <h4 class="speaker__title">Boots and Shoeboxes</h4>
    </figcaption>
  </figure>
  <figure class="speaker">
    <img class="speaker__img" src="/assets/images/speakers/miguel-andrade.jpg" alt="speaker name">
    <figcaption class="t-body speaker__description">
      <h3 class="speaker__name">Miguel Andrade</h3>
      <a href="https://twitter.com/maskedwarrior" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-twitter"></use></svg>
      </a>
      <a href="https://github.com/miguelcobain" class="speaker__social">
        <svg><use xlink:href="/assets/images/defs.svg#icon-github"></use></svg>
      </a>
      <p class="t-body">Born in Paços de Ferreira, Portugal, Miguel's main interests include, computer science, astronomy and physics. He is also a musician in a couple of bands, a HUGE Asimov fan, and secretly want to change the world.</p>
      <h4 class="speaker__title">DOMless* rendering with Ember</h4>
    </figcaption>
  </figure>
</section>
