<section class="l-section--flex">
  <div class="index__text-left">
    <a class="typeform-share link" href="https://heather215.typeform.com/to/xrWKnX" data-mode="1">Submit a Proposal</a>
  </div>
  <div class="index__text-right">
    <h2 class="t-display">Call For Proposals</h2>
    <h3 class="t-heading">through Friday November 11, 2016</h3>
    <p class="t-body">You may submit as many proposals as you'd like.</p>
    <p class="t-body">All speakers will get a private room and all meals covered form Thursday January 26 - Saturday January 28.</p>
  </div>
</section>

<section class="l-section--flex">
  <div class="index__text-center">
    <h2 class="t-display">Keynote Speaker</h2>
  </div>
</section>

<section class="l-section--flex">
  <div class="index__text-center">
    <h2 class="t-display">Speakers</h2>
  </div>
</section>
